@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#bennys-app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  background-color: #1d2029;
  border-radius: 2px;
  transition: 0.5s;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.06);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.06);
  z-index: 20;
}

#bennys-app.active {
  visibility: visible;
  opacity: 1;
}

#bennys-app .grid {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 11vw);
  grid-gap: 2vh;
  grid-column-gap: 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#bennys-app .grid.active {
  position: static;
  visibility: visible;
  opacity: 1;
}

#bennys-app .grid > article {
  background-color: rgb(45, 52, 68);
  border: none;
  border-radius: 2px;
  border: 1px solid rgb(33, 36, 48);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  height: 250px;
  transition: transform 0.1s;
}

/* cart */
#bennys-app .cart {
  position: absolute;
  opacity: 0;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bennys-app .cart.active {
  position: relative;
  opacity: 1;
  visibility: visible;
}

#bennys-app .cart-list {
  display: flex;
  justify-content: center;

  flex-direction: column;
}

#bennys-app .cart-content {
  /* padding: 10px; */
  width: 800px;
  height: 100px;
  position: relative;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(45, 52, 68);
}

#bennys-app .cart-box {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}

#bennys-app .topnav button.cart-button {
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

#bennys-app .topnav button.cart-button.active {
  opacity: 1;
  visibility: visible;
}
#bennys-app .cart-box > .cart-image {
  display: flex;
  flex: 1;
}

#bennys-app .cart-box .cart-box-text {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: justify;
}

#bennys-app .cart-box-text div {
  margin: 5px;
}

#bennys-app .product-title {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

#bennys-app .product-price {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

#bennys-app .cart-box input {
  width: 50px;
  height: 30px;
  border: none;
  background: var(--bg-color);
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  transition: 0.5s;
}

/* #bennys-app .cart-box textarea:focus,
input :focus {
  outline: none;
  border: none;
} */

#bennys-app .cart-box i {
  margin: 5px;
  position: absolute;
  top: 1px;
  right: 1px;
  color: rgb(190, 45, 45);
  font-size: 15px;
}

#bennys-app .buy-button {
  width: 150px;

  margin: 10px;
  text-transform: capitalize;
  padding: 10px;
  background: rgb(190, 45, 45);
  text-align: center;
  align-items: center;
  font-weight: bolder;
  border: none;
  border-radius: 2px;
}

#bennys-app .buy-button button {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bolder;
}

#bennys-app .buy-button:hover {
  cursor: pointer;
}

#bennys-app .cart-box img {
  width: 90px;
}

#bennys-app .grid > article > img {
  width: 100px;
}

#bennys-app .text {
  padding: 0 15px 15px;
}

#bennys-app .grid > article .price {
  /* position: fixed; */
  padding-top: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bolder;
  color: #ffd09a;
}

#bennys-app .text h3 {
  font-size: medium;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

#bennys-app .cart .total {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

#bennys-app .text button {
  background-color: #1db15b;
  border-radius: 2px;
  border: none;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  width: 80%;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  align-items: baseline;
  transition: 0.5s;
}

#bennys-app .text button:hover {
  cursor: pointer;
  background-color: #25d36e;
  color: #fff;
}

#bennys-app .navigation {
  margin-top: 50px;
  margin-left: 6%;
  margin-right: 6%;
  padding: 10px;
  left: 0;
  z-index: 999;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-items: end;
}

#bennys-app .navigation .topnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  justify-items: end;
}

#bennys-app .navigation .category {
  display: flex;
  justify-content: flex-start;
}

#bennys-app .navigation .category button {
  font-weight: 800;
  background-color: rgb(45, 52, 68);
  border-radius: 2px;
  border: none;
  margin-right: 25px;
  padding: 10px;
  width: 150px;
  text-transform: uppercase;
  text-align: center;
  align-content: center;
  transition: 0.5s;
}

#bennys-app .navigation .category button:hover {
  background-color: rgb(53, 63, 85);
}

#bennys-app .navigation .topnav button {
  font-weight: 800;
  font-size: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  padding: 5px 5px;
  margin: 5px;
  text-transform: uppercase;
  background: transparent;
  z-index: 10;
  transition: 0.5s;
}

#bennys-app .navigation .topnav button:hover {
  cursor: pointer;
  background-color: rgb(45, 52, 68);
  color: #fff;
}

#bennys-app .navigation .home-button.active {
  background-color: #1db15b;
  color: #fff;
}

#bennys-app .navigation i,
p {
  color: #fff;
  margin: 5px;
  padding: 0;
}

#bennys-app .navigation button:hover {
  cursor: pointer;
}

#bennys-app .container {
  overflow-y: auto;
  overflow-x: hidden;
}

#bennys-app header {
  z-index: 1000;
}

#bennys-app > header > nav {
  font-family: "Roboto", sans-serif;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  border-width: 1px;
  flex-direction: row;
  width: 100%;
  height: 35px;
  background-color: rgb(23, 25, 39);
  z-index: 10;
}

#bennys-app > header > nav > h1 {
  font-size: 15px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

#bennys-app > header > nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#bennys-app > header :active {
  cursor: move;
  user-select: none;
}

#bennys-app .loading {
  /* make it larger and centered */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  transition: 1s;
}
