#boosting-app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  background-color: #1d2029;
  border-radius: 2px;
  transition: 0.5s;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.06);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.06);
  z-index: 20;
}

#boosting-app.active {
  visibility: visible;
  opacity: 1;
}

#boosting-app header {
  z-index: 1000;
}

#boosting-app > header > nav {
  font-family: "Roboto", sans-serif;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  border-width: 1px;
  flex-direction: row;
  width: 100%;
  height: 35px;
  background-color: rgb(23, 25, 39);
  z-index: 10;
}

#boosting-app > header > nav > h1 {
  font-size: 15px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

#boosting-app > header > nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#boosting-app > header :active {
  cursor: move;
  user-select: none;
}

#boosting-app > .container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#boosting-app .navigation {
  padding: 0px 110px;
  top: 10%;
  position: relative;
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
}

#boosting-app .navigation button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bolder;
  text-transform: capitalize;
  margin: 10px;
  padding: 0px 5px;
  color: rgb(255, 255, 255);
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

#boosting-app .navigation button.my-contract {
  background-color: #119917;
}

#boosting-app .navigation button.join-queue {
  background-color: #6995f5;
}

#boosting-app .navigation button.buy-contract {
  background-color: #e95f58;
}

#boosting-app .navigation button.refresh-contract {
  /* make it on right */
  /* position: relative; */

  display: flex;
  align-items: center;
  background-color: #daae51;
  width: 100px;
  margin: 10px;
}
.ref {
  /* make it right */
  position: absolute;
  right: 100px;
  top: 0;
}

#boosting-app .boosting-list {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  justify-items: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
}

#boosting-app .boosting-list.hide {
  display: none;
}

#boosting-app .boosting-list.hidden {
  display: none;
}

#boosting-app .boosting-list .boost-contract {
  display: grid;
  justify-items: flex-start;
  text-align: left;
  align-items: flex-start;
  width: 55vw;
  height: 200px;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 2px;
  padding: 20px;
  margin: 8px 0px;
  background-color: rgb(45, 52, 68);
}

#boosting-app .boost-contract p {
  font-weight: 600;
  /* font family open sans */
  color: rgb(255, 255, 255);
  margin: 10px 0px;
  padding: 0;
}

#boosting-app .boost-contract .boost-text b {
  color: #f8bc3b;
}

#boosting-app .boost-proggress p {
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 0;
  align-items: center;
  align-content: center;
}

#boosting-app .boost-proggress {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 80%;
  height: auto;
}

/* make boost-proggress responsive to 3000+px monitor */
@media screen and (min-width: 3000px) {
  #boosting-app .boosting-list {
    margin-top: 100px;
  }
}

#boosting-app .progress-bar {
  width: 100%;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  margin: 0px 15px;
  padding: 0px;
}

#boosting-app .progress-bar p {
  /* make it on center */
  top: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 20%);
  color: rgb(0, 0, 0);
  margin: 0px;
  padding: 0px;
  align-items: center;
  align-content: center;
}

#boosting-app .progress-bar .progress {
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  border-radius: 2px;
  margin: 0px;
  padding: 0px;
  transition: 0.5s ease;
}

#boosting-app .boost-contract .boost-button {
  width: 100%;
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  bottom: -20px;
  left: -15px;
  justify-content: flex-start;
  justify-items: center;
  align-items: center;
  align-content: center;
}

#boosting-app .boost-button button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bolder;
  text-transform: capitalize;
  margin: 10px;
  padding: 0px 5px;

  width: 150px;
  height: 35px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

#boosting-app .boost-button button.start {
  background-color: #119917;
}
#boosting-app .boost-button button.transfer {
  background-color: #e95f58;
}
#boosting-app .boost-button button.sell {
  background-color: #6995f5;
}

#boosting-app .container .title {
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

#boosting-app .container .title.hidden {
  display: none;
}
