* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#laptop {
  width: 100%;
  height: 100vh;
  background-image: url(../img/BG.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.main ul {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 0;
  margin-bottom: 0;
}

.main li {
  position: relative;
  display: block;
  padding: 10px 20px;
  list-style: none;
}

.main li img {
  width: auto;
  height: 50px;
  border-radius: 2px;
}

.main li img:hover {
  width: auto;
  height: 53px;
  opacity: 80%;
}

.footer {
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.795);
  background-position: center;
  display: flex;
  position: fixed;
  bottom: 0;
}

.footer .left ul {
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  padding-left: 10px;
  justify-content: space-around;
}

.footer .left img {
  width: auto;
  height: 40px;
}
